%section.copyright
  %h2
  .container
    .row
      .col-md-4
        .copy_right_text
          / COPYRIGHT TEXT
          %p= "Copyright © #{Time.current.year}" 
          %p All Rights Reserved.
          %p
            A theme by
            %a{:href => "https://dcrazed.com/", :target => "_blank"} Dcrazed
        
      .col-md-6
        .copy_right_text
          %p Contact Us
          %p E: eventsnmomentsph@gmail.com
          %p M: +63 917 326 0144 | +63 999 998 5103
        
        
      .col-md-2
        .scroll_top
          = link_to '#HOME' do
            %i.fa.fa-angle-up
