%section.copyright
  %h2
  .container
    .row
      .col-md-6
        .copy_right_text
          / COPYRIGHT TEXT
          %p Copyright © 2016. All Rights Reserved.
          %p
            A theme by
            %a{:href => "https://dcrazed.com/", :target => "_blank"} Dcrazed
      .col-md-6
        .scroll_top
          = link_to '#HOME' do
            %i.fa.fa-angle-up