%section#ABOUT.about.page
  .container
    .row
      .col-md-10.col-md-offset-1
        .section_title
          %h2 About Us
          %p EVENTS AND MOMENTS by Raz Mendoza welcomes you to the world of avant-garde events planning since 2012.
          %p The founder, Raz Mendoza, who started off as a professional singer since 2007, built her connections from college days in the Mass Communication field from print, social media, radio and TV.
          %p With a variety of networks, she established a wide range of suppliers to help her in the business. Since then she knew that she had a passion and creativity for events.
  .inner_about_area
    .container
      .row
        .col-md-6
          .about_phone.wow.fadeInLeft{"data-wow-delay" => ".5s", "data-wow-duration" => "1s"}
            %iframe{:allowtransparency => "true", :frameborder => "0", :height => "500", :scrolling => "no", :src => "https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FEventsandMomentsbyRazMendoza%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=473354326091546", :style => "border:none;overflow:hidden", :width => "340"}
          %br
          %br
        .col-md-6.wow.fadeInRight{"data-wow-delay" => ".5s", "data-wow-duration" => "1s"}
          .inner_about_title
            %h2
              WHAT WE DO AND HOW WE DO IT
            %p With the excellent aid of our coordinators and suppliers, EVENTS AND MOMENTS by Raz Mendoza works profoundly with the juncture of heart and art.
            %p We carefully listen to the customer’s dream event, understand their vision and do everything to exceed the customers’ expectations. No matter how big or small the event will be, 
            %p We go above and beyond to make the planning process enjoyable and our customers’ special day as unique and memorable as they are. 
