.call_to_action
  .container
    .row.wow.fadeInLeftBig{"data-wow-duration" => "1s"}
      .col-md-12
        .text-bg
          %p.text-center Let’s create something you’ll remember for the rest of your life!
          %p.text-center Never let that once in a lifetime event be dull and flop.
          %p.text-center Let’s plan ahead and get things organized. 
          %p.text-center Call us today at +63 917 326 0144 / (02) 940 6900
      / .col-md-3
      /   %a.btn.btn-primary.btn-action{:href => "#", :role => "button"} Book Now!
