%section#PACKAGES.apps_screen.page
  .container
    .row
      .col-md-10.col-md-offset-1.wow.fadeInBig{"data-wow-duration" => "1s"}
        / APPS SCREEN TITLE
        .section_title
          %h2 Packages
          %p Coming Soon!
        / END APPS SCREEN TITLE
  / .screen_slider
  /   #demo.wow.bounceInRight{"data-wow-duration" => "1s"}
  /     #owl-demo.owl-carousel
  /       / APPS SCREEN IMAGES
  /       .item
  /         %a{:href => "images/screens/iPhone04.png", :rel => "prettyPhoto[pp_gal]"}
  /           %img{:alt => "APPS SCREEN", :height => "60", :src => "images/iPhone04.png", :width => "60"}/
  /       .item
  /         %a{:href => "images/screens/iPhone05.png", :rel => "prettyPhoto[pp_gal]"}
  /           %img{:alt => "APPS SCREEN", :height => "60", :src => "images/iPhone05.png", :width => "60"}/
  /       .item
  /         %a{:href => "images/screens/iPhone06.png", :rel => "prettyPhoto[pp_gal]"}
  /           %img{:alt => "APPS SCREEN", :height => "60", :src => "images/iPhone06.png", :width => "60"}/
  /       .item
  /         %a{:href => "images/screens/iPhone07.png", :rel => "prettyPhoto[pp_gal]"}
  /           %img{:alt => "APPS SCREEN", :height => "60", :src => "images/iPhone07.png", :width => "60"}/
  /       .item
  /         %a{:href => "images/screens/iPhone08.png", :rel => "prettyPhoto[pp_gal]"}
  /           %img{:alt => "APPS SCREEN", :height => "60", :src => "images/iPhone08.png", :width => "60"}/
  /       .item
  /         %a{:href => "images/screens/iPhone09.png", :rel => "prettyPhoto[pp_gal]"}
  /           %img{:alt => "APPS SCREEN", :height => "60", :src => "images/iPhone09.png", :width => "60"}/
