default: &default
  adapter: postgresql
  host: localhost

development:
  <<: *default
  database: eam_dev

test:
  <<: *default
  database: eam_test

production:
  <<: *default
  database: eam_prod

